.container{
    width: 70lvw;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 6vh;
}
p{
    line-height: 1.8vw;
    font-weight: 100;
}
h1{
    font-size: 3vw;
    font-weight: bold;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}