.container {
  width: 80vw;
  height: 10vh;
  margin: auto;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vw;
  margin-top: 1vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav {
  display: flex;
  gap: 35px;
}

.nav a {
  text-decoration: none;
}
